.article {
  justify-content: space-between;
  background-color: white;
  padding: 2rem;
}

.book_btn_container {
  display: flex;
}

.book_btn_container button {
  font-weight: 500;
  margin-top: 1em;
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3rem;
  opacity: 0.8;
  background-color: white;
}

.remove_btn {
  padding: 0.2em 1em;
  border: none;
  border-left: 3px solid rgb(216, 212, 212);
}

.comments {
  border: none;
  padding-right: 1em;
}

.progress {
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  transform: rotate(45deg);
}

.details_container {
  display: flex;
  gap: 30px;
}

.complete_details_container {
  display: flex;
  padding: 1em;
  gap: 20px;
  align-items: center;
}

.progress_details {
  display: flex;
  flex-direction: column;
}

.progress_details h3 {
  font-size: 2rem;
  font-weight: normal;
}

.progress_details p {
  opacity: 0.5;
}

.book_details_main_container p {
  font-size: 0.875rem;
  font-weight: bold;
  color: #121212;
  opacity: 0.5;
  margin-bottom: 0.4em;
}

.book_details_main_container span {
  font-weight: 700;
  color: #121212;
  font-size: 1.575rem;
}

.book_details_main_container h3 {
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 0.5em;
}

.chapter_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em;
  font-family: 'Roboto Slab', serif;
}

.chapter_container span {
  font-size: 0.8rem;
  opacity: 0.5;
}

.chapter_container p {
  font-size: 1.1rem;
}

.chapter_container button {
  background-color: #0290ff;
  color: white;
  padding: 0.438rem 1.188rem;
  border-radius: 3px;
  border: none;
}
