.books_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
}

.books_container li {
  display: flex;
  justify-content: space-between;
}
