* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.header {
  display: flex;
  background-color: antiquewhite;
}

.navLink_container {
  display: flex;
  list-style: none;
  gap: 10px;
  font-size: 1.5rem;
  padding: 0.7em;
  font-weight: 700;
}
